.container{
	max-width:1500px;
	padding:0 20px;
	margin:0 auto;
}

.img-responsive{
	max-width:100%;
	height: auto;
	display: block;
}

.is-flex{
    display:flex;
}

.content{
    max-width:420px;
}

.no-scroll{
    overflow:hidden;
    height:100%;
    width:100%;
}

.totop-button {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    position: fixed;
    z-index: 998;
    bottom: 10%;
    border: none;
    left: 20px;
    transform: rotate(180deg);
    opacity: 0;
    transition: all .4s;
    transition: transform 0.6s;
    background-color: darkgrey;
    color: white;
    &.displayed {
        cursor: pointer;
        pointer-events: all;
        opacity: 1;
        transition: all .4s;
        transition: transform 0.6s;
        transform: rotate(0);
    }
}