html{
    font-size:62.5%;
}

body{
    font-size:1.6em;
    margin:0;
    padding:0;
    font-family:Roboto, sans-serif;
}

ul{
    margin:0;
    padding:0;
}

a{
    text-decoration:none;
}

main{
    position: relative;
    background: white;
    z-index:100;
    margin-top:600px; /* fixed header */
}