@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
.h1{
    font-size:4.7rem;
}

.h2{
    font-size:4.2rem;
}

.h3{
    font-size:3.8rem;
    margin-top:0;
    margin-bottom:10px;
}

.h4{
    font-size:3rem;
    margin:0;
}

.h5{
    font-size:2.2rem;
}

p {
    color: $main;
    line-height:2.8rem;
}
.h1, .h2, .h3, .h4 {
    color: $main;
    font-weight: lighter;
}

.is-bold {
    font-weight: bold;
}

.is-light {
    font-weight: lighter;
}

.is-italic {
    font-style: italic;
    line-height: 2rem;
}

@include media-breakpoint-down(md) {
    .h1{
        font-size:4.2rem;
    }
    .h2{
        font-size:3.8rem;
    }

    .h3{
        font-size:3rem;
    }

    .h4{
        font-size:2.2rem;
    }

    .h5{
        font-size: 1.9rem;
    }
}
