﻿
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="socialmedia title" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="socialmedia description" />
    <meta property="og:url" content="socialmediaurl" />

    <meta property="og:locale" content="nl_NL" />

    @*<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="../manifest.json">*@ <!-- ik heb geen favicon maar voor het begrip idee-->
    <title>@ViewBag.Title</title>
    <meta name='description' content='meta description' />

    <link rel="stylesheet" href="~/Css/Build/core.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body ontouchstart>
    <div class="overlay">
        <div class="preload-circle"></div> <!--temp-->
    </div>
    @RenderBody()
    <div class="totop-button"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/Build/core.js" type="text/javascript"></script>
</body>
</html>
