﻿<footer>
    <section class="upper-footer-content container">
        <div class="avatar-holder">
            <img width="150" height="150" src="http://via.placeholder.com/150x150" alt="image" />
        </div>
        <div class="footer-form">
            <h2 class="h3"> Contact opnemen</h2>
            <form method="POST">
                <div class="input-group">
                    <input type="text" placeholder="Voornaam" name="firstname" />
                    <input type="text" placeholder="Achternaam" name="lastname" />
                </div>
                <div class="input-group">
                    <input type="text" placeholder="E-mailadres" name="email" />
                    <input type="text" placeholder="Telefoonnummer" name="phonenumber" />
                </div>
                <textarea placeholder="vraag" name="question"></textarea>
                <button type="button" class="primary">
                    Verzenden
                </button>
            </form>
        </div>
    </section>
    <section class="bottom-footer-content">
        <div class="container">
            <span>Copyright &copy; 2018</span>
        </div>
    </section>
</footer>