﻿<header>
    <div class="large-box">
        <div class="large-box-content">
            <h1 class="h1"> Portfolio - </h1>
        </div>
    </div>

    <div class="boxes">
        <div class="box small-box">
        </div>
        <div class="box small-box">
            <span class="h3">test</span>
        </div>
    </div>
</header>