﻿<?xml version="1.0" encoding="utf-8" ?>
<!-- Generator: Adobe Illustrator 16.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="162.5px" height="25px" viewBox="0 0 162.5 25" enable-background="new 0 0 162.5 25" xml:space="preserve">
<g>
<g>
<g>
<path fill="#F1861D" d="M106.43,18.22c0,3.733-1.854,5.614-3.92,6.753l-2.675-2.701c1.139-0.768,2.146-1.854,2.146-3.787V5.905
				h4.449V18.22z M104.231,0c1.455,0,2.384,0.53,2.384,2.013s-0.929,2.013-2.384,2.013c-1.458,0-2.437-0.53-2.437-2.013
				S102.773,0,104.231,0z" />

<g>
<path fill="#F1861D" d="M124.678,19.51c0.013-0.006,0.027-0.011,0.04-0.017c0.192-0.075,0.593-0.24,0.798-0.37
					c-0.406-0.822-0.619-1.836-0.619-3.021v-0.279l-0.209,0.094l0,0c-0.002,0-0.004,0.002-0.008,0.003l-0.012,0.005
					c-0.055,0.026-0.109,0.051-0.165,0.075c-0.005,0.001-0.008,0.003-0.013,0.005c-0.051,0.021-0.102,0.043-0.151,0.063
					c-0.015,0.007-0.028,0.012-0.043,0.018c-0.042,0.016-0.082,0.031-0.123,0.045c-0.019,0.006-0.036,0.012-0.054,0.018
					c-0.038,0.012-0.076,0.024-0.113,0.036c-0.018,0.005-0.035,0.009-0.052,0.013c-0.04,0.012-0.079,0.021-0.117,0.031
					c-0.013,0.002-0.025,0.005-0.038,0.008c-0.043,0.009-0.086,0.018-0.129,0.024c-0.004,0.001-0.006,0.001-0.008,0.001
					c-0.108,0.018-0.217,0.027-0.326,0.027c-0.455,0-0.66-0.275-0.743-0.672c-0.038-0.18-0.052-0.385-0.052-0.6V5.905l0,0h-4.447
					h-0.002v8.714c-0.109,0.171-0.246,0.345-0.411,0.508c-0.469,0.464-1.162,0.842-2.104,0.842c-1.801,0-2.331-0.874-2.331-2.702
					V5.905l0,0h-4.448v7.998l0,0c0,3.549,1.509,6.118,5.085,6.118l0,0l0,0c0.038,0,0.074-0.002,0.114-0.003
					c0.098-0.002,0.196-0.003,0.293-0.008c0.216-0.01,0.427-0.028,0.633-0.055c0.003,0,0.007,0,0.009,0
					c0.043-0.006,0.086-0.014,0.129-0.021c1.401-0.208,2.563-0.796,3.376-1.714c0.504,1.271,1.59,1.8,3.099,1.8c0,0,0,0,0.001,0l0,0
					c0.001,0,0.004,0,0.005,0c0.076,0,0.152-0.001,0.229-0.003c0.031-0.001,0.062-0.002,0.092-0.003
					c0.047-0.001,0.094-0.003,0.141-0.005c0.038-0.002,0.076-0.004,0.113-0.006c0.038-0.002,0.076-0.004,0.115-0.008
					c0.043-0.002,0.086-0.006,0.128-0.009c0.03-0.003,0.062-0.005,0.092-0.008c0.048-0.005,0.098-0.009,0.146-0.015
					c0.021-0.002,0.044-0.004,0.065-0.006c0.055-0.006,0.11-0.012,0.165-0.02c0.011-0.001,0.021-0.002,0.033-0.004
					c0.687-0.086,1.303-0.231,1.752-0.4l0,0C124.611,19.536,124.636,19.526,124.678,19.51z" />

			</g>
<path fill="#F1861D" d="M128.71,0c1.431,0,2.384,0.53,2.384,2.013s-0.953,2.013-2.384,2.013c-1.456,0-2.437-0.53-2.437-2.013
				S127.254,0,128.71,0z" />

<path fill="#F1861D" d="M132.952,15.985c-0.001-0.001-0.003-0.002-0.003-0.003c-0.377,0.181-0.846,0.306-1.194,0.306
				c-0.716,0-0.847-0.584-0.847-1.271V5.905h-4.449v10.197c0,2.807,1.271,3.919,3.469,3.919c0.854,0,1.672-0.125,2.281-0.261
				c0.152-0.027,0.326-0.073,0.506-0.127c0.167-0.048,0.298-0.092,0.389-0.128c0.509-0.178,1.19-0.476,1.465-0.596
				c0-0.002,0-0.004,0-0.005C133.846,18.089,133.299,17.11,132.952,15.985z" />

<path fill="#F1861D" d="M147.383,13.717c-0.001-0.002-0.002-0.005-0.003-0.007c-0.302,0.222-1.065,0.774-1.497,1.073
				l-0.001-0.006c-0.037,0.029-0.079,0.059-0.118,0.088c-0.315,0.217-0.621,0.418-0.861,0.561c-0.838,0.459-1.846,0.808-2.729,0.808
				c-2.463,0-3.521-1.642-3.521-3.495c0-1.908,1.031-3.311,2.779-3.311c1.668,0,2.278,0.953,2.384,2.489l3.946-0.873
				c-0.133-3.258-2.251-5.509-6.356-5.509c-4.423,0-7.335,3.099-7.335,7.336c0,4.158,2.356,7.256,7.573,7.256
				c2.211,0,4.223-0.672,5.691-1.736c0.003,0.002,0.007,0.006,0.007,0.006l1.141-0.803c-0.001-0.002-0.001-0.006-0.002-0.008
				C147.862,16.485,147.486,15.185,147.383,13.717z" />

<path fill="#F1861D" d="M162.394,18.247c-1.429,1.166-3.522,1.88-5.879,1.88c-5.218,0-7.601-3.151-7.601-7.256
				c0-4.158,2.913-7.336,7.363-7.336c4.21,0,6.223,2.596,6.223,5.773c0,0.874-0.133,2.146-0.291,2.648h-8.872
				c0.265,1.615,1.403,2.647,3.442,2.647c1.483,0,3.1-0.688,3.973-1.324L162.394,18.247z M158.633,10.832
				c0-1.112-0.741-1.907-2.383-1.907c-1.643,0-2.621,1.006-2.834,2.225h5.217V10.832z" />

		</g>
<g>
<path fill="#41AF68" d="M94.516,18.247c-1.43,1.166-3.521,1.88-5.879,1.88c-5.217,0-7.602-3.151-7.602-7.256
				c0-4.158,2.914-7.336,7.363-7.336c4.21,0,6.223,2.596,6.223,5.773c0,0.874-0.132,2.146-0.291,2.648h-8.871
				c0.264,1.615,1.403,2.647,3.441,2.647c1.482,0,3.1-0.688,3.973-1.324L94.516,18.247z M90.755,10.832
				c0-1.112-0.741-1.907-2.384-1.907c-1.642,0-2.621,1.006-2.834,2.225h5.218V10.832z" />

<path fill="#41AF68" d="M65.229,18.579c-0.807-0.715-1.461-1.602-1.922-2.615c-0.522,0.229-0.944,0.324-1.244,0.324
				c-0.69,0-0.848-0.584-0.848-1.271v-3.231c0-3.39-1.509-6.118-5.085-6.118c-1.773,0-3.204,0.716-4.209,1.775V5.906h-4.45v13.85
				h4.45v-8.262c0.396-0.795,1.271-1.721,2.516-1.721c1.51,0,2.33,0.979,2.33,2.754v3.575c0,2.834,1.271,3.92,3.496,3.92
				c0.733,0,1.418-0.08,2.011-0.203c0.012-0.002,0.021-0.002,0.032-0.004c0.075-0.016,0.147-0.033,0.22-0.05
				c0.005-0.001,0.01-0.003,0.015-0.003C63.742,19.477,64.835,18.834,65.229,18.579L65.229,18.579z" />

<path fill="#41AF68" d="M70.485,5.667c1.774,0,3.071,0.556,3.946,1.404V5.905h4.449V17.85c0,4.793-3.178,7.15-7.282,7.15
				c-2.94,0-4.688-0.9-5.641-1.324l0.927-3.55c0.926,0.504,2.436,1.271,4.476,1.271c1.642,0,3.072-0.608,3.072-2.622v-1.139
				c-0.928,0.821-2.278,1.324-3.946,1.324c-3.787,0-6.383-2.992-6.383-6.621C64.102,8.66,66.698,5.667,70.485,5.667z M71.755,15.095
				c1.033,0,1.986-0.424,2.675-1.032v-3.47c-0.583-0.529-1.589-1.059-2.675-1.059c-1.933,0-3.125,1.112-3.125,2.807
				C68.63,14.01,69.85,15.095,71.755,15.095z" />

<path fill="#41AF68" d="M45.908,15.725c-0.485,0.291-1.223,0.563-1.701,0.563c-0.662,0-0.847-0.584-0.847-1.271V5.905h-4.45
				v1.219c-0.874-0.927-2.197-1.457-3.919-1.457c-3.788,0-6.383,2.993-6.383,7.204c0,4.157,2.595,7.124,6.383,7.124
				c1.854,0,3.311-0.848,4.236-1.96c0.478,1.378,1.563,1.986,3.152,1.986c1.324,0,2.679-0.32,3.528-0.659V15.725z M38.911,15.148
				c-0.688,0.609-1.668,1.007-2.648,1.007c-1.907,0-3.125-1.297-3.125-3.284c0-2.039,1.191-3.336,3.125-3.336
				c1.032,0,2.092,0.45,2.648,1.006V15.148z" />

<path fill="#41AF68" d="M27.677,6.09c-0.1-0.046-0.22-0.093-0.354-0.139c-0.005-0.002-0.01-0.004-0.016-0.006
				c-0.001,0-0.002,0-0.004-0.001c-0.444-0.149-1.05-0.277-1.723-0.277c-1.747,0-2.701,0.795-3.363,2.04
				c-0.477-1.43-1.589-2.04-3.23-2.04c-0.688,0-1.356,0.08-1.909,0.181c-0.003,0-0.006,0.001-0.009,0.002
				c-0.094,0.017-0.185,0.035-0.271,0.053c-1.356,0.283-2.385,0.758-2.636,0.881c0.773,0.828,1.381,1.812,1.783,2.908
				c0.24-0.107,0.775-0.291,1.24-0.291c0.717,0,0.849,0.556,0.849,1.271v9.084h4.449v-7.229c0.132-1.43,0.715-2.754,2.358-2.754
				c1.126,0,2.155,0.307,2.518,0.513c0.33-1.309,0.908-2.466,1.686-3.414C28.792,6.691,28.282,6.351,27.677,6.09z" />

<path fill="#41AF68" d="M7.441,5.535c4.343,0,7.495,3.125,7.495,7.336c0,4.157-3.152,7.256-7.495,7.256
				C3.152,20.126,0,17.028,0,12.871C0,8.66,3.152,5.535,7.441,5.535z M7.441,16.102c1.933,0,3.204-1.457,3.204-3.231
				c0-1.827-1.271-3.284-3.204-3.284c-1.88,0-3.151,1.457-3.151,3.284C4.29,14.645,5.562,16.102,7.441,16.102z" />

		</g>
	</g>
</g>
</svg>

