﻿<nav class="navigation">
    <div class="menutoggle">
        <i class="fa fa-bars"></i>
    </div>
    <div class="navigation-wrapper">
        <div class="container">
            <ul>
                <li data-section="work-experience">
                    <a>Werk</a>
                </li>
                <li data-section="full-width">
                    <a>Over mij</a>
                </li>
                <li data-section="two-columns">
                    <a>Gegevens</a>
                </li>
                <li data-section="gallery">
                    <a>Gallerij</a>
                </li>
                <li data-section="skills">
                    <a>Ervaring</a>
                </li>
            </ul>
            <div class="socialmedia">
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="#">
                    <i class=" fa fa-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</nav>