%btn {
    display: flex;
    max-width: 200px;
    font-size: 1.8rem;
    border-radius: 20px 0;
    margin: 20px 10px;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    transition: all 0.3s;
    border:none;
    box-shadow:none;
}

button.primary {
    @extend %btn;
    font-size: 1.8rem;
    background: $darkgray;
    color: white;
}

a.primary {
    @extend %btn;
    background: $darkgray;
    color: white;
}