footer {
    position: relative;
    z-index: 100;
    background: $darkcolor;

    p, .h1, .h2, .h3, .h4, span {
        color: white;
    }

    .upper-footer-content {
        padding: 60px 0;

        .footer-form {
            width: 100%;
            padding-left: 50px;

            .h3 {
                margin: 10px;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                align-items: center;
                justify-content: space-between;
            }
        }

        .avatar-holder {
            padding: 0;
            border: none;
            margin: 20px auto;

            img {
                border-radius: 50%;
                width: 150px;
                height: 150px;
            }
        }
    }

    .bottom-footer-content {
        padding: 20px 0;
        background: $darkgray;
    }

    @include media-breakpoint-up(sm) {
        .upper-footer-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .avatar-holder {
                padding-right: 80px;
                border-right: 1px solid gray;

                img {
                    width: 200px;
                    height: 200px;
                }
            }

            .h1 {
                font-size: 5rem;
            }
        }
    }
}
