.input-group{
    display:flex;
}
label{
    margin:10px;

    span{
        display:block;
        margin: 0 10px;
    }
}

input{
    height:50px;
}

input, textarea {
    background: $darkgray;
    border: none;
    color: white;
    margin: 10px;
    padding: 0 15px;
    font-size: 1.6rem;
    max-width:90%;
    width:100%;
    &::placeholder {
        color: white;
        opacity: .5;
        font-size: 1.6rem;
    }
}

textarea {
    width: 100%;
    font-family: Roboto, sans-serif;

    max-width: 1130px;
    padding: 20px;
    min-height:95px;
    max-height:95px;
}

