﻿.full-width {
    margin: 0 auto;
    text-align: center;
    padding:90px 0;
    border-bottom: 1px solid $gray;

    .h2 {
        margin: 10px auto;
        max-width: 1000px;
    }

    p {
        font-size: 1.8rem;
        line-height: 3rem;
        max-width: 1150px;
        width: 100%;
        margin: 0 auto 30px auto;
    }

    a.primary {
        margin: 10px auto;
    }

    @include media-breakpoint-down(md) {
        padding-top:50px;
    }
}
