﻿.gallery {
    padding: 80px 0;
    border-bottom: 1px solid #e0e0e0;

    > .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1150px;
        padding: 0 20px;

        > div {
            display: flex;
        }

        .h2 {
            padding-bottom: 20px;
            border-bottom: 1px solid #e0e0e0;
        }

        @include media-breakpoint-up(sm) {
            width: 100%;
            padding: 0;
        }

        .image {
            background-size: cover;
            height: 400px;
            width: 100%;
            margin-bottom: 20px;

            @include media-breakpoint-up(lg) {
                height: 300px;
                width: calc(50% - 40px);
                margin: 10px;
            }

            @include media-breakpoint-up(xl) {

                &.image-small {
                    height: 150px;
                    width: 150px;
                }

                &.image-medium {
                    width: 250px;
                    height: 250px;
                }

                &.image-large {
                    width: 320px;
                    height: 320px;
                }

                &.image-big {
                    width: 370px;
                    height: 370px;
                }

                &.image-normal {
                    width: 180px;
                    height: 180px;
                }
            }
        }

        div {
            .image {
                &:nth-child(2) {
                    margin-top: 120px;
                }
            }

            &:nth-child(2) {
                .image {
                    &:nth-child(2) {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}
