﻿header {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 99;
    background-color: black;
    height: 700px;
    top: 0;

    .boxes {
        width: 50%;
    }

    .box {
        height: 50%;
        color: white;

        &:first-child {
            background: #4d4d4d
        }

        &:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            margin-top: -50px;
        }

        .h3 {
            margin-top: -80px;
            margin-left: 10px;
            font-size: 3.6rem;
            text-transform: uppercase;
            color: gray;
            display: none;

            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }

    .large-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: gray;
        background: $darkcolor;
        width: 50%;

        .large-box-content {
            position: static;

            .h1 {
                position: absolute;
                padding:20px;
                font-size: 3.4rem;
                left:0;
                top:40%;
                max-width: 100%;

                @include media-breakpoint-up(md) {
                    max-width:600px;
                    position:static;
                    font-size:4rem;
                }
            }
        }
    }
}