﻿.three-columns {
    display: flex;
    flex-direction: column;

    .work {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
        /*opacity: 0;*/

        &.animate {
            animation: cube .7s .3s forwards;
        }

        &:first-child {
            background-image: url(https://picsum.photos/500);
        }

        &:last-child {
            background-image: url(https://picsum.photos/300);
            display: none;
        }

        &.work-recent {
            filter: grayscale(0%);
            background-image: url(https://picsum.photos/300);
        }

        svg {
            width: 60%;
            height: auto;
        }
    }

    @include media-breakpoint-up(sm) {
        flex-direction: row;
    }

    @include media-breakpoint-up(md) {
        .work {
            height: 420px;
        }
    }

    @include media-breakpoint-up(lg) {
        .work {

            &:last-child {
                display: flex;
            }

            &.work-recent {
                margin-top: -50px;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .work {
            height: 500px;
        }
    }
}

@keyframes cube {
    from{

    }

    to{

    }
}