.navigation {
    position: fixed;
    background: transparent;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 500;
    margin-left: 0;
    transition: all 0.7s;

    .menutoggle {
        position: relative;
        cursor: pointer;
        color: white;
        padding: 20px;
        font-size: 4rem;
        z-index: 3;
        display: block;
        transition: all 0.2s;

        &.is-sticky {
            width: 100%;
            background: $darkgray;
            transition: all 0.5s;
        }
    }

    .navigation-wrapper {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        padding-top: 30%;
        width: 100%;
        z-index: 2;
        height: 100%;
        transition: all 0.3s;
        background: rgba(0,0,0,0.8);

        ul {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            list-style: none;
            transition: all 0.2s;

            li {
                padding: 30px 0;

                a {
                    cursor:pointer;
                    color: white;
                    &.two-columns, &.full-width, &.gallery{
                        background:transparent;
                        padding-top:0;
                        padding-bottom:0;
                        border:none;
                    }
                }
            }
        }

        .socialmedia {
            display: flex;
            justify-content: center;

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                width: 50px;
                height: 50px;
                font-size: 2.5rem;
                border: 1px solid white;
                border-radius: 50%;
                color: white;
            }
        }
    }

    &.is-sticky {
        margin: 0;
        background: transparent;
        width: 100%;
        border: none;
    }

    &.active {
        .menutoggle {
            &.is-sticky {
                background: transparent;
                width: 0;
                transition: all 0.5s;
            }
        }

        .navigation-wrapper {
            left: 0;
            transition: all 0.3s;
        }
    }

    @include media-breakpoint-up(md) {
        .menutoggle {
            display: none;
        }

        .navigation-wrapper {
            left: 0;
            top: 0;
            padding-top: 0;
            background: transparent;
            height: 80px;

            > .container {
                display: flex;
                justify-content: space-between;
            }

            ul {
                flex-direction: row;
                align-items: center;
                height: 80px;
                left: 200px;

                li {
                    padding: 0 20px;
                    font-size: 1.7rem;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        color: white;

                        &:after {
                            content: "";
                            background: transparent;
                            height: 1px;
                            width: 0;
                            transition: all 0.2s;
                        }

                        &:hover {
                            opacity: 0.8;

                            &::after {
                                content: "";
                                background: white;
                                width: 80%;
                                transition: width 0.2s;
                            }
                        }
                    }
                }
            }

            .socialmedia {
                position: relative;
                display: none;
                right: 0;

                i {
                    border: none;
                    color: $darkgray;
                }
            }
        }

        &.is-sticky {
            border-bottom: 1px solid #e0e0e0;

            .navigation-wrapper {
                background: white;

                ul {
                    left: 150px;

                    li {
                        a {
                            color: $darkgray;

                            &:hover{
                                &:after{
                                    background:$darkgray;
                                    height:1px;
                                    width:80%;
                                    transition:width .2s;
                                }
                            }
                        }
                    }
                }

                .socialmedia {
                    display: flex;
                    align-items: center;
                    right: 100px;
                }
            }
        }
    }
}
@keyframes fadeawaybackground{
    0%{
        width:100%;
    }

    25%{
        width:75%;
    }
    50% {
        width: 50%;
    }

    75% {
        width: 25%;
    }

    100% {
        width: 0;
        background:transparent;
    }
}