﻿body {
    transition: all .4s;

    &.preload {
        transition: all .4s;

        .overlay {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            z-index: 999;
            width: 100%;
            height: 100%;
            background: white;

            .preload-circle {
                position: relative;
                height: 70px;
                width: 70px;
                animation: preload 1s infinite;
                border-radius: 50%;
                display: block;
            }
        }
    }
}

@keyframes preload{
    from {
        border: 5px solid black;
    }

    to {
        border: 30px solid black;
    }
}