﻿.skills {

    > .is-flex {
        padding: 70px 30px;
        justify-content: space-between;
        flex-direction: column;

        @include media-breakpoint-up(lg) {
            padding-bottom: 80px;
            flex-direction: row;
            align-items: center;
        }
    }

    .description {
        max-width: 780px;
        text-align: center;
        padding-bottom:50px;
        @include media-breakpoint-up(lg) {
            text-align: left;
            padding-right: 30px;
        }

        .h2 {
            margin: 0;
        }

        p {
            line-height: 2.9rem;
            font-size: 1.7rem;
            margin-bottom: 0;
        }
    }

    .checklist {
        margin: 0 auto;
        border: 1px solid $gray;
        box-shadow: 1px 2px 1px $gray;
        padding: 40px;
        max-width: 400px;

        ul {
            list-style: none;
            padding: 20px 0 0 0;
            margin: 0;

            li {
                font-size: 1.5rem;
                padding: 10px 0;
                display: flex;
                align-items: center;

                &::before {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: FontAwesome;
                    font-size: 1.4rem;
                    content: "\f00c";
                    margin-right: 10px;
                    color: $darkgray;
                }
            }
        }

        @include media-breakpoint-up(sm) {
            margin-top: 0;
            ul {
                li {
                    &:before {
                        border: 1px solid $darkgray;
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}