﻿.two-columns {
    background: $main;
    padding-bottom: 90px;
    color: white;

    .h1, .h2, .h3 {
        color: white;
    }

    p {
        color: white;
    }

    svg {
        height: 600px;
        width: 100%;
    }

    .top-section {
        position: relative;

        > .container {
            position: absolute;
            padding: 60px 20px 0 20px;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;

            .h4 {
                padding-right: 15px;
                display: none;
            }

            a {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 50px;
                color: $darkgray;
                height: 50px;
                margin: 0 10px;
                border: 1px solid $darkcolor;
                border-radius: 50%;
                transition: all 0.2s;

                i {
                    font-size: 2.6rem;
                }

                &:hover {
                    background: $darkgray;
                    color: white;
                    transition: all 0.2s;
                }
            }
        }

        @include media-breakpoint-up(md) {
            > .container {
                padding: 5% 20% 0 0;

                .h4 {
                    display: block;
                }
            }
        }
    }

    .bottom-content {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: -150px;
        align-items: center;
         @include media-breakpoint-up(md) {
             margin-top:-240px;
         }

        .avatar-section {
            max-width: 100%;
            color: white;
            padding: 0 40px;
            text-align: center;

            img {
                border-radius: 50%;
                margin: 20px auto;
            }

            .h2 {
                margin: 5px 0 10px 0;
            }

            p {
                margin: 0;
            }
        }

        .contact-data {
            color: white;

            ul {
                padding: 0;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    padding: 15px 0;
                    font-size: 1.8rem;

                    i {
                        padding-right: 20px;
                        font-size: 2.2rem;
                    }

                    a {
                        color: white;
                    }

                    &:nth-child(2) {
                        padding-bottom: 20px;
                        border-bottom: 1px solid $gray;
                    }
                }
            }
        }

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;

            .avatar-section {
                max-width: 340px;

                .h2 {
                    font-size: 2.6rem;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            .avatar-section{
                max-width:600px;
            }
        }
    }
}