﻿<section class="two-columns">
    <div class="top-section">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0, 0, 100 0 100,40 70,70" />
        </svg>
        <div class="container">
            <h4 class="h4">Socialmedia:</h4>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="#">
                <i class=" fa fa-facebook"></i>
            </a>
        </div>
    </div>
    <div class="container bottom-content">
        <div class="bottom-section avatar-section">
            <img class="img-responsive" src="http://via.placeholder.com/250x250" />
            <h2 class="h2">Lorem ipsum dolet si</h2>
            <p>
                Praesent at interdum tellus. Proin ut enim auctor, tristique tortor vitae, bibendum mauris. Mauris scelerisque neque at ante bibendum, non condimentum purus gravida.
            </p>
        </div>
        <div class="contact-data">
            <h3 class="h4">Contactgegevens</h3>
            <ul>
                <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <a href="mailto:test@test.nl">Test@hotmail.com</a>
                </li>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a href="tel:23847673">87-37864336</a>
                </li>
                <li>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Stad, Provincie<br />
                    straatlaan, 12
                </li>
            </ul>
        </div>
    </div>
</section>