﻿<section class="full-width">
    <div class="container">
        <h2 class="h2">Lorem ipsum doler sit amet</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue dui ut efficitur tincidunt. Nam eget ipsum tempor, sollicitudin mi sed, viverra velit. Proin porta lorem id mi commodo, eget elementum diam commodo. Aenean tempus diam dui, sit amet molestie diam gravida nec. Cras molestie mauris odio, in aliquam odio euismod euismod
        </p>
        <a href="#" class="primary">
            Call to action
        </a>
    </div>
</section>