﻿<section class="gallery" data-section="">
    <div class="gallery-text container">
        <h3 class="h2">Omdat ik liefde heb voor het vak</h3>
    </div>
    <div class="container">
        <div>
            <div class="image image-big" style="background-image:url(https://picsum.photos/600);"></div>
            <div class="image image-medium" style="background-image:url(https://picsum.photos/200);"></div>
            <div class="image image-big" style="background-image:url(https://picsum.photos/650);"></div>
        </div>
        <div>
            <div class="image image-normal" style="background-image:url(https://picsum.photos/450);"></div>
            <div class="image image-big" style="background-image:url(https://picsum.photos/350);"></div>
            <div class="image image-normal" style="background-image:url(https://picsum.photos/250);"></div>
        </div>
    </div>
</section>