﻿<section class="skills">
    <div class="container is-flex">
        <div class="description">
            <h2 class="h2">Lorem ipsum doler sit amet</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie nisi eros, a aliquet est mattis et. Etiam ut erat lectus. Duis erat orci, eleifend non porta sit amet, lobortis vitae metus. Vestibulum eget posuere augue, vel tincidunt nisi.</p>
            <p>
                sem tristique, eget sagittis velit porttitor. Donec nibh neque, consequat nec efficitur et, tempus ut magna. Vestibulum sed leo ut nisi placerat ornare. Donec nec purus est.
            </p>
        </div>
        <div class="checklist">
            <h3 class="h4">Geleerde vaardigheden</h3>
            <ul>
                <li>
                    Bouwen van website 1
                </li>
                <li>
                    afmaken van project nummertje 25
                </li>
                <li>
                    documenteren van bla bla bla
                </li>
                <li>
                    tester
                </li>
            </ul>
        </div>
    </div>
</section>