﻿<section class="three-columns work-experience">
    <div class="work">
        <h2>test</h2>
    </div>
    <div class="work work-recent">
        @Html.Partial("_logo")
    </div>
    <div class="work">
        <h2>test2</h2>
    </div>
</section>